<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#688a17">

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="{{ '/feed.xml' | relative_url }}">

    {% seo %}
</head>

<body>
    <header>
        <div class="container">
            <h1>{{ site.title }}</h1>

            <nav>
                <ul>
                    {% for item in site.data.navigation %}
                    <li{% if page.url==item.link %} aria-current="page" {% endif %}>
                        <a href="{{ item.link | relative_url }}">{{ item.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            {{ content }}
        </div>
    </main>

    <footer>
        <div class="container">
            <div>
                <p>
                    {{ site.description }}
                </p>
            </div>
            <div>
                <ul class="link-list">
                    <li>E-Mail: <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
                    <li><a href="{{ '/feed.xml' | relative_url }}">Atom feed</a></li>
                    <li><a href="https://github.com/{{ site.author.github }}">Github</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>